.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    .password {
        word-break: break-word;
        font-size: 24px;
        color: #afaeae;
        font-weight: bold;
        overflow: scroll;
        background-color: #171717;
        padding: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        gap: 10px;
        font-size: 18px;
        input {
            padding: 6px;
        }
    }
    .spinner, .clipboard {
        display: flex;
        gap: 10px;
        font-size: 18px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: #fff;
        svg {
            transform: scale(1.5);
            fill: #059494;
        }
    }

    .spinner {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #059494;
        padding: 10px;
        svg {
            transform: scale(1);
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .passwordContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .clipboard {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

